section.about{
    padding: 1rem;
    background: var(--cor-de-section);
    color: var(--cor-de-texto);
}
.about__title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    
}
.about__paragraph{
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
}
.about__paragraph__quote{
    font-style: italic;
    font-size: 13px;
    text-align: justify;
}
.about__datos__list{
    padding-left: 1rem;
}
.about__datos__list-items{
    list-style-type: disc;
    margin-bottom: 0.5rem;
    
}
@media screen and (min-width: 1024px){
    .about__title{
        font-size: 52px;
    }
    .about__datos, .about__objetivo{
        font-size: 32px;
    }
    .about__datos__list, .about__paragraph, .about__paragraph__quote{
        font-size: 22px;
    }
}