section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    
}
.menu__header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu__decoration-icon{
    height: 24px;
}
.menu__title{
    font-size: 16px;
    font-weight: bold;
    color:var(--cor-de-texto);
    padding-left: 0.5rem;
}
.menu__list{
    display: none;
}
.menu__list__item__contato{
    font-size: 14px;
    font-weight: 100;
    
}
.menu__list__item__contato a{
    color:var(--cor-de-texto);
}

@media screen and (min-width: 1024px){
    .menu__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
    }
    .menu__list__item{
        margin: 1rem;
    }
    #menu__list__contacto{
        font-weight: bold;
    }
    .menu__list__item__contato{
        display: none;
    }
    .menu__list__item a:hover{
        text-decoration: underline;
    }

}