section.contactform {
    padding: 1rem;
    background: var(--cor-de-section);
    display: flex;
    flex-direction: column;
    color: var(--cor-de-texto);
}

.contactform__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1rem;

}

.contactform__subtext {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.contactform__img {
    display: none;
}

.contactform__form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.element-container {
    width: 100%;
    margin: 0.2rem 0 1rem 0;
}

.contactform__contacto {
    height: 100%;
}

.contactform__input,
.contactform__textarea,
.contactform__boton {

    border-radius: 5px;
    border-color: transparent;
    width: 98%;

}

.contactform__input,
.contactform__boton {
    height: 2.5rem;
}

.contactform__boton {
    background: var(--cor-de-boton);
    color: var(--cor-de-fundo);
    width: 40%;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 1s 0.5s ease;
    opacity: 0;
}

.element-container--invalid {
    margin-bottom: 0.5rem;
}

.element-message-error {
    display: none;
    font-size: 12px;
}
.element-message-error::before{
    content: url('https://api.iconify.design/uil/exclamation-triangle.svg?color=%23e65100&width=13&height=13');
    vertical-align: middle;
    
}

.element-container--invalid .element-message-error {
    color: var(--cor-de-texto);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.contactform__boton[disabled]{
  border: 1px solid var(--cor-de-disabled-border);
  background-color: var(--cor-de-disabled-background);
  color: var(--cor-de-disabled);
}

@media screen and (min-width:1024px) {
    .contactform__contacto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }
    .contactform__img {
        display: block;
    }
    .contactform--izquierda{
        width: 35%;
    }
    .contactform__img{
        padding: 3rem 0 3rem 1rem;
        width: 90%;
        height: 90%;
    }
    .contactform__text{
        width: 60%;
        margin-left: 1rem;
    }
    .contactform__title{
        font-size: 52px;
    }
    .contactform__text, .contactform__subtext{
        font-size: 22px;
    }
    .contactform__input, .contactform__textarea{
        font-size: 22px;
    }
}

