section.contactform {
    padding: 1rem;
    background: #a5eea0;
    display: flex;
    flex-direction: column;
    color: #464646;
}

.contactform__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1rem;

}
.contactform__subtext {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.contactform__img {
    display: none;
}

.contactform__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactform__contacto {
    height: 100%;
}

.contactform__input,
.contactform__textarea,
.contactform__boton {
    margin: 0.2rem 0 1rem 0;
    border-radius: 5px;
    border-color: transparent;

}
.contactform__input,
.contactform__boton {
    height: 2em;
}

.contactform__boton {
    background: #5086c1;
    color: #FFFFFF;
}
