section.hobbies{
    display: flex;
    flex-direction: column;
}
.hobbies__title{
    align-self: center;
    font-size: 22px;
    color: #464646;
    font-weight: bold;
}
.hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    height: 508px;
    justify-content: space-between;
    align-items: center;
}
.hobbies__box{
    width: 48%;
    height: 27%;
    background: #FFFFFF;

}
.hobbies__box ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    padding-left: 0;
    margin: 0;
    align-items: center;
}
