section.skills{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  
}
.skills__title{
    align-self: center;
    font-size: 22px;
    color:var(--cor-de-texto);
    font-weight: bold;
}
.skills__line{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
    justify-content: stretch;
    align-items: center;
}
.skills__box{
    width: 48%;
    height: 27%;
    background: #FFFFFF;
    margin: 0.5rem;

}
.skills__box ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    padding-left: 0;
    margin: 0;
    align-items: center;
}
.skills__img{
    padding-bottom: 0.5rem;
}
.skills__name{
    font-size: 16px;
    font-weight: bold;
    color:var(--cor-de-texto);
}

@media screen and (min-width: 768px){
    
    .skills__line{
        flex-direction: row;
        width: 95vw;
        height: 60vh;
        margin: 1rem;
    }
    .skills__box{
        width: 31%;
        height: 48%;
    }
}
@media screen and (min-width: 1024px){
    .skills__title{
        font-size: 52px;
    }
    .skills__line{
        flex-wrap: nowrap;
        align-items: flex-start;
        height: 40vh;
    }
    .skills__box ul{
        padding: 0;
    }
    .skills__box{
        display: flex;
        align-items: center;
    }
    .skills__img img{
        height: 44px;
    }
    .skills__name{
        font-size: 22px;
        text-align: center;
    }
}
