section.title{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.title__profile{
    height: 98px;
    border-radius: 100%;
}
.title__bio{
    font-size: 22px;
    font-weight: 500;
    color:var(--cor-de-texto);
    text-align: justify;
}
.title__subsection{
    font-size: 14px;
    font-weight: 100;
    color:var(--cor-de-texto);
    text-align: justify;
}
.title__network{
    padding: 0;
}
.title__network__item{
    padding-bottom: 0.5rem;
}
.title__network__item a{
    font-size: 14px;
    font-weight: bold;
    color:var(--cor-de-texto);
}
@media screen and (min-width: 768px){
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
    }
    .title__profile{
        height: 146px;
        margin-left: 3rem;
    }
}
@media screen and (min-width: 1024px){
    .title__bio{
        font-size: 52px;
        text-align: left;
    }
    .title__profile{
        margin-right: 3rem;
        height: 368px;
    }
    .title__div{
        margin: 2rem;
    }
    .title__subsection{
        font-size: 22px;
    }
    .title__network__item a{
        font-size: 22px;
    }
    

}