section.about{
    padding: 1rem;
    background: #EAF2FD;
}
.about__title{
    font-size: 22px;
    font-weight: bold;
    color: #464646;
}
.about__paragraph{
    font-size: 14px;
    font-weight: 100;
    color: #464646;
}